{% extends "layout.html" %}
{% block body %}
<div class="well">
	<ul>
	        <li>Neural Network Framwork: <a href="http://mxnet.io">MXNet</a></li>
	        <li>Pre-trained model: <a href="http://mxnet.io/tutorials/python/predict_image.html">http://mxnet.io/tutorials/python/predict_image.html</a></li>
	        <li>Web interface developed with <a href="http://flask.pocoo.org">Flask</a></li>
	        <li>This demo developed by <a href="https://github.com/XD-DENG">XD-DENG</a></li>
	</ul>
</div>
{% endblock %}
