<html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.united.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<title>MXNet Image Classifier</title>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"> </span><span class="icon-bar"> </span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MXNet Image Classifier</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
	       <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://flask.pocoo.org/">
                        <img src="http://flask.pocoo.org/static/badges/made-with-flask-s.png" border="0" height=25 alt="Flask powered" title="Flask powered"></a>
                    </li>
         </ul>	
  </div>                    
</div>
</nav>

<div class="container">
<body>{% block body %}{% endblock %}</body>
<hr>
<footer>Develped by <a href="http://seekingqed.com">XD-DENG</a></footer>
</div>
</html>